In [2]:
def grade_cal(name, stu_class, marks):
    class_avg = 110
    total_marks = 200
    per_marks = (marks/total_marks) * 100
    class_comparision = marks>class_avg
    if (class_comparision and per_marks>60):
        return('%s passed in class %s' %(name, stu_class))
    else:
        return('%s failed in class %s' %(name, stu_class))

This is a text cell

In [3]:
grade_cal('Neha', '12', 190)

'Neha passed in class 12'

In [11]:
grade_cal('Anu','1234',50)

'Anu failed in class 1234'

### using in instead if for loop

In [1]:
list1 = [1,2,3,4]

In [2]:
2 in list1

True

In [1]:
a = 2.456

In [3]:
type(a)

float

In [11]:
"A is: {:.2f}".format(a)

'A is: 2.46'

In [6]:
print('This is a float: %s'%(a))

This is a float: 2.456

In [8]:
print('{} This is a float: {}'.format('Hi', a))

Hi This is a float: 2.456

In [ ]:
"Training Loss: {:.3f}.. ".format(running_loss/len(trainloader))

# Functions

In [1]:
name = input()
name = 'Hi ' + name
print(name)

qwerty
Hi qwerty

In [32]:
def name_intro(user_name):
    name = user_name
    name = 'Hi ' + name
    return name

In [33]:
name_intro('Sunaina')
print('Hi')

Hi

In [30]:
print(my_text)

Hi Sunaina

In [15]:
def multiply_num(a, b):
    num = a+1
    mul = num*b
    return mul

In [20]:
2* multiply_num(6,1)

14

In [18]:
print(var1)

7

In [49]:
train = 'This is \nkush'

In [50]:
print(train)

This is
kush

In [55]:
var2 = 'test.csv.pdf';

In [56]:
var2

'test.csv.pdf'

In [58]:
var2.split('.')

['test', 'csv', 'pdf']