# Basics of Python

## Importing modules / packages

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Different ways of importing module

In [ ]:
import pandas                  #1 - Importing the whole module 
import pandas as pd            #2 - Importing the module with alias
from pandas import *           #3 - Importing the whole module / overrides other functions 
from pandas import read_csv    #4 - Importing a function from a module

1) Importing whole module - import pandas

This imports all the functions of a python package into the memory. This is recommended when we need to use multiple functions of a module and its not possible to import every one of them. We need to use pandas before every function name.

In [2]:
import pandas
data = pandas.read_csv('sample_data.csv')

In [5]:
data.head()

     x    y  classes
0  1.0  5.0        0
1  1.1  6.2        1
2  1.2  6.4        1
3  1.3  4.6        0
4  1.4  5.8        0

2) Importing a module with alias - import pandas as pd

Similar to (1), difference is that it imports the whole functions but in order to use the functions we need to use the alias before every function call, instead of the name of the module

In [3]:
import pandas as pd
data2 = pd.read_csv('sample_data.csv')

In [7]:
data2.head()

     x    y  classes
0  1.0  5.0        0
1  1.1  6.2        1
2  1.2  6.4        1
3  1.3  4.6        0
4  1.4  5.8        0

In [8]:
from pandas import *

In [9]:
data3 = read_csv('sample_data.csv')

In [10]:
data3.head()

     x    y  classes
0  1.0  5.0        0
1  1.1  6.2        1
2  1.2  6.4        1
3  1.3  4.6        0
4  1.4  5.8        0

3) Importing the whole module overriding other functions - from sys import *

This is problematic and is not recommended. If there is a function with same name in sys module and in your script, you won't be able to use your function or variable. This does NOT bring the name “sys” into your module, instead it brings all of the names inside sys (like exit for example) into your module.

In [11]:
exit = 42
print(exit)

42

In [12]:
exit = 42
from sys import *

In [13]:
exit

In [14]:
from sys import *
exit = 42

In [15]:
exit

42

4) Importing a function from a module - from pandas import read_csv

This only imports the mentioned functions or variables, rest of the things are not imported. It saves memory $$
Recommended if you are going to use only a few functions / variables from a library

In [1]:
from pandas import read_csv

In [17]:
data3 = read_csv('sample_data.csv')

In [18]:
data3.head()

     x    y  classes
0  1.0  5.0        0
1  1.1  6.2        1
2  1.2  6.4        1
3  1.3  4.6        0
4  1.4  5.8        0

In [4]:
sample_df = pd.DataFrame()

In [5]:
type(sample_df)

pandas.core.frame.DataFrame

## Variables

A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [16]:
x = 2.             #float
y = 5                  #integer
xy = 'Hey'             #string
xy2 = ' there'

In [17]:
z = x+y
print(z)

7.0

In [18]:
#print(x+y)
print((xy + xy2))

Hey there

In [19]:
print(x+y, xy)

7.0 Hey

Multiple variables can be assigned with the same value.

In [20]:
x = y = 1

In [21]:
print(x,y)

1 1

## Operators

### Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [22]:
1+2

3

In [23]:
2-1

1

In [24]:
1*2

2

In [27]:
1/2

0.5

0? This is because both the numerator and denominator are integers but the result is a float value hence an integer value is returned. By changing either the numerator or the denominator to float, correct answer can be obtained.

In [28]:
1/2.0

0.5

In [29]:
20%10

0

Floor division is nothing but converting the result so obtained to the nearest integer.

In [30]:
4.0//2.0

2.0

### Relational Operators

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [31]:
z = 1

In [33]:
z != 2

True

In [34]:
z >= 1

True

## Common Built-in functions

**int( )** is used to get only the integer value of a float number or can be used to convert a number which is of type string to integer format. Similarly, the function **str( )** can be used to convert the integer back to string format

In [40]:
print(type(int(7.7)))
print(int('7'))

print(float(7))
print(type(float(7)))

print(type(str(7)))

<class 'int'>
7
7.0
<class 'float'>
<class 'str'>
7

In [41]:
a1 = str(7)
a2 = int(7)
print(a1, a2)

a1==a2

7 7

False

Also note that function **bin( )** is used for binary and **float( )** for decimal/float values. **chr( )** is used for converting ASCII to its alphabet equivalent, **ord( )** is used for the other way round.

In [42]:
chr(98)

'b'

In [43]:
ord('b')

98

### Simplifying Arithmetic Operations

**round( )** function rounds the input value to a specified number of places or to the nearest integer.

In [44]:
print(round(5.4231))
print(round(4.55892, 2))

5
4.56

**complex( )** is used to define a complex number and **abs( )** outputs the absolute value of the same.

In [45]:
c =complex('5+2j')
print(abs(c))

5.385164807134504

**divmod(x,y)** outputs the quotient and the remainder in a tuple in the format (quotient, remainder).

In [48]:
divmod(9,2)

(4, 1)

**isinstance( )** returns True, if the first argument is an instance of that class. Multiple classes can also be checked at once.

In [49]:
print(isinstance(1, int))
print(isinstance(1.0,int))
print(isinstance(1.0,(int,float)))

True
False
True

**pow(x,y,z)** can be used to find the power $x^y$ also the mod of the resulting value with the third specified number can be found i.e. : ($x^y$ % z).

In [50]:
print(pow(2,3))
print(pow(3,3,5))

8
2

**range( )** function outputs the integers of the specified range. It can also be used to generate a series by specifying the difference between the two numbers within a particular range. The elements are returned in a list.

In [51]:
sample_list = [1,2,3,4]
print(sample_list)

[1, 2, 3, 4]

In [57]:
type(range(3))

range

In [59]:
print(range(3))
print(range(2,9))
print(range(2,26,8))

range(0, 3)
range(2, 9)
range(2, 26, 8)

**print()** - The **print** statement can be used in the following different ways :

    - print("Hello World")
    - print("Hello", <Variable Containing the String>)
    - print("Hello" + <Variable Containing the String>)
    - print("Hello %s" % <variable containing the string>)

In [61]:
var1 = 'Hi'
print("Hello World", var1)
print("Hello World"+ var1)

Hello World Hi
Hello WorldHi

In Python, single, double and triple quotes are used to denote a string.
Most use single quotes when declaring a single character. 
Double quotes when declaring a line and triple quotes when declaring a paragraph/multiple lines.

In [66]:
print("Hey")

Hey

In [64]:
print("""My name is Rajath Kumar M.P.
dfdsfsdf
fsdfdsjdlk
fsndfnsdf
I love Python.""")

My name is Rajath Kumar M.P.
dfdsfsdf
fsdfdsjdlk
fsndfnsdf
I love Python.

Strings can be assigned to variable say _string1_ and _string2_ which can called when using the print statement.

In [68]:
string1 = 'World'
num = 7
print('Hello', string1, num)

string2 = '!'
print('Hello', string1, string2)

Hello World 7
Hello World !

String concatenation is the "addition" of two strings. Observe that while concatenating there will be no space between the strings.

In [ ]:
print('Hello' + string1 + string2)

**%s** is used to refer to a variable which contains a string.

In [73]:
var1 = 10
var2 = 123
string1 = 'in this World'
print('My roll number is %d in this world' %(var1))

My roll number is 10 in this world

In [74]:
print("Hello %s" %(string1))

Hello in this World

Similarly, when using other data types

    - %s -> string
    - %d -> Integer
    - %f -> Float
    - %o -> Octal
    - %x -> Hexadecimal
    - %e -> exponential
    
This can be used for conversions inside the print statement itself.

In [75]:
print("Actual Number = %d" %18)
print("Float of the number = %f" %18)
print("Octal equivalent of the number = %o" %18)
print("Hexadecimal equivalent of the number = %x" %18)
print("Exponential equivalent of the number = %e" %18)

Actual Number = 18
Float of the number = 18.000000
Octal equivalent of the number = 22
Hexadecimal equivalent of the number = 12
Exponential equivalent of the number = 1.800000e+01

When referring to multiple variables parenthesis is used.

In [76]:
print("Hello %s %s" %(string1,string2))

Hello in this World !

The following are other different ways the print statement can be put to use.

In [79]:
print("I want %%d to be printed %s" %'here')

I want 78%s to be printed

In [80]:
print('_A'*10)

_A_A_A_A_A_A_A_A_A_A

In [81]:
print("Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [85]:
print("I want \\n to be printed.")

I want \n to be printed.

In [84]:
print("""
Routine:
\t- Eat
\t- Sleep\n\t- Repeat
""")

Routine:
	- Eat
	- Sleep
	- Repeat

### Accepting User Inputs

**input( )** accepts input and stores it as a string. Hence, if the user inputs a integer, the code should convert the string to an integer and then proceed.

In [8]:
abc = int(input())

123

In [9]:
type(abc)

int

In [10]:
print(abc)

123

Note that **type( )** returns the format or the type of a variable or a number